# Flutter
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/pubspec.lock

# Next.js
node_modules/
dashboard/.next/
dashboard/node_modules/
dashboard/out/
dashboard/.env.local
functions/node_modules/

# Firebase / secrets
.firebaserc
functions/.env*
firebase-debug.log
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.tmp_flutter/
